@media (max-width: 1080px) and (min-width: 769px) {
  #social-icons {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #social-icons {
    width: 70%;
  }
}

@media (max-width: 475px) {
  #social-icons {
    height: 10%;

    a {
      margin: 0 1%;
      width: 18% !important;
    }
  }
}

@media (max-width: 420px) {
  article header {
    height: 11%;

    h1 {
      padding-top: 0.4em;
    }
  }
  #avatar {
    top: -20%;
  }
}
